<!DOCTYPE html>
<html>
<head>
    <title>Blast website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
        filename='style.css') }}">
    <!--
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader_inner").fadeOut();
            $(".loader").delay(5).fadeOut("slow");
        });
    </script>
    <div class="loader">
        <div class="loader_inner"></div>
    </div> -->
</head>
<header id="main-header">
    <h1 id="header">Blastwebsite</h1>
</header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body class="main-body">
<nav>
    <div class="navbar">
        <ul>
            <li><a href="Blok4_Home.html">Home</a></li>
            <div class="dropdown">
                <button class="dropbtn">Resultaat
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="Blok4_Count_Org.html">Resultaat count</a>
                    <a href="Blok4_Blast.html">Resultaat filter</a>
                </div>
            </div>
            <li><a href="Blok4_Help.html">Help</a></li>
            <li><a href="Blok4_About.html">About</a></li>
        </ul>
    </div>
</nav>
<div class="updates">
    <h4>Updates</h4>
    <p>De website is voor het laats geupdate op 14-6-2019.</p>
</div>
<br>
<div class="about-2">
    <h4>Informatie over de website</h4>
    <p>Deze website is met veel liefde en plezier gemaakt voor HANbiocentre
        .<br> <b>Note:</b> Voor het maken van deze website zijn er geen 
        paddenstoelen in gevaar gebracht
    </p>
</div>
    <img src="../static/TOAD.gif">
</body>

</html>

<!-- Zoekwoord, wat je wil zien, grenzen zetten-->